
/* Estos son para comentarios en el CSS */


p {line-height: 1.5; margin-bottom: 15px;} 

.titulo { font: 20px; font-family: 'Indie Flower', cursive; }
body{background-color: rgba(218, 199, 199, 0.856);color: black; text-align: center}

#autor{font-style: italic;margin-bottom: 30px;font-family: 'Indie Flower', cursive;
    font-family: 'Libre Franklin', sans-serif;}

.cancion { margin: auto; padding: 20px 0; text-align: left; width: 400px ; }

#parrafo1:first-letter {float:left; font-size: 38 px;  line-height: 1 ; margin: 2px 5px 0 0;}

p:nth-child(2) {background: cornsilk;}

p:nth-child(4) {background: darkcyan; font-family: 'Libre Franklin', sans-serif; font-size: 40 px; line-height: 4 ; margin: 4px  6px 0 0;}

:not(p:nth-child(3)) {margin: 0px;} 


h1 { font: 60px; font-family: 'Noto Sans', sans-serif;
    font-family: 'Petit Formal Script', cursive;  }
    

   li {font-size: 40px  ;font-family: 'Mali', cursive; }
